@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.content{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .top{
    color: white;
    font-size: 24px;
  
    .change{
      background-color: $item;
      color: $dark-background;
    }

  }

  .down{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    color: $item;
    font-size: 24px;
  }

}