@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

.content{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .top{
    color: white;
    font-size: 24px;
  
    .change{
      background-color: $item;
      color: $dark-background;
    }

  }

  .down{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .service {
      display: flex;
      left: 0;
      transition: all 1s ease-out;
      }
    }

    .arrows{
      display: flex;
      justify-content: space-between;
      .arrow {
        height: 50px;
        cursor: pointer;
    
        &.left {
          left: 100px;
        }
        
        &.right {
          transform: rotateY(180deg);
          right: 100px;
        }
      }
    }
}