@import "styles/variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  background-color: $dark-background;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;

  max-width: 100%;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}

.layout {
  display: flex;
  min-height: 100vh;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
